/*-----CRAFTSVILLA BOOKING-------*/
html {
  scrollbar-gutter: stable;
}

body {
  margin: 0 auto;
  justify-content: center;
  background-color: #f5f1eb;
  font-family: "Poppins", sans-serif;
}

.craftsvilla {
  width: 90%;
}

header {
  display: flex;
  position: fixed;
  font-family: "DM Serif Display", serif;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 245, 245);
  width: 100%;
  height: 90px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h2,
.logo p {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-left: -50%;
}

.logo h2 {
  color: red;
}

.logo img {
  width: 200px;
  margin-left: 10%;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.head-nav a {
  margin: 0 40px;
  font-size: 24px;
  color: black;
  width: 30%;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.signup img {
  width: 40px;
  filter: brightness(1) invert(1);
}

.head-nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-radius: 8px;
  height: 4px;
  background: rgb(231, 83, 83);
  transition: width 0.4s ease;
}

.head-nav a:hover:after {
  width: 100%;
}

button.signup {
  background-color: rgb(231, 83, 83);
  color: antiquewhite;
  border-radius: 14px;
  margin-left: 2%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid rgb(39, 39, 39);
  cursor: pointer;
}

.button.signup h2 {
  text-align: center;
  justify-content: center;
}

button.signup:hover {
  transform: scale(1.1);
  transition: ease 0.4s;
}

/*--------BOOKING---------*/

.container {
  display: flex;
  margin-top: 5%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.container h2 {
  font-size: 48px;
  display: flex;
  margin-top: 2%;
}

h3 {
  margin-left: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

h3 span {
  color: red;
}

form input {
  border-radius: 8px;
  height: 25px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
  width: 200px;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.names {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.phone {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  gap: 165px;
}

.email {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 5%;
}

.date {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 5%;
}

.time {
  gap: 65px;
  display: flex;
  word-break: break-all;
}

.return-time {
  gap: 110px;
  display: flex;
}

.location select {
  display: flex;
  width: 450px;
  margin-left: 4%;
  height: 35px;
  border-radius: 8px;
}

.quantity {
  padding-top: 5%;
}

#number-select {
  width: 450px;
  margin: 5%;
  display: flex;
  margin-left: 4%;
  height: 35px;
  border-radius: 8px;
}

#submit {
  margin-top: 10%;
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 450px;
  background-color: rgb(238, 94, 94);
  color: white;
  border-radius: 80px;
  cursor: pointer;
}

#submit:hover {
  scale: 1.1;
  transition: ease 2s;
}

/*----FOOOTER-----*/

footer {
  display: flex;
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 83, 83);
  width: 100%;
  height: 90px;
}

footer img {
  width: 40px;
  align-items: center;
  justify-content: center;
}

footer .socials {
  display: flex;
  gap: 9rem;
}

.social-links {
  cursor: pointer;
}

.social-links {
  width: 2px;
}

.nav-footer a {
  margin: 0 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  width: 30%;
  position: relative;
  text-decoration: none;
}

.nav-footer a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(255, 253, 253);
  transition: width 0.4s ease;
}

.nav-footer a:hover:after {
  width: 100%;
}

footer h5 {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 18px;
  padding-left: 5%;
}
