/*-----CRAFTSVILLA CONTACT-------*/
html {
  scrollbar-gutter: stable;
}

body {
  margin: 0 auto;
  justify-content: center;
  max-height: 1000px;
  background-color: #f5f1eb;
  font-family: "Poppins", sans-serif;
}

.craftsvilla {
  width: 90%;
}

header {
  display: flex;
  position: fixed;
  font-family: "DM Serif Display", serif;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 245, 245);
  width: 100%;
  height: 90px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h2,
.logo p {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-left: -50%;
}

.logo h2 {
  color: red;
}

.logo img {
  width: 200px;
  margin-left: 10%;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.head-nav a {
  margin: 0 40px;
  font-size: 24px;
  color: black;
  width: 30%;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.signup img {
  width: 40px;
  filter: brightness(1) invert(1);
}

.head-nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-radius: 8px;
  height: 4px;
  background: rgb(231, 83, 83);
  transition: width 0.4s ease;
}

.head-nav a:hover:after {
  width: 100%;
}

button.signup {
  background-color: rgb(231, 83, 83);
  color: antiquewhite;
  border-radius: 14px;
  margin-left: 2%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid rgb(39, 39, 39);
  cursor: pointer;
}

.button.signup h2 {
  text-align: center;
  justify-content: center;
}

button.signup:hover {
  transform: scale(1.1);
  transition: ease 0.4s;
}

/*-----------CONTACT--------*/
.container {
  display: flex;
  margin-left: 12%;
  margin-top: 7%;
  width: 1440px;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10%;
}

.form-group {
  display: flex;
  padding: 1%;
  margin-right: auto;
  left: 0%;
}

.contact img {
  display: flex;
  flex-direction: row;
}

select {
  width: 400px;
  height: 30px;
  border-radius: 8px;
}

form input {
  border-radius: 8px;
  height: 25px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  gap: 20px;
  background: transparent;
  width: 400px;
  background-color: rgb(224, 231, 236);
  cursor: pointer;
}

textarea {
  display: flex;
  resize: none;
  width: 400px;
  height: 150px;
  border-radius: 8px;
}

h4 {
  color: rgb(243, 75, 75);
  font-size: 24px;
}

.radio-options {
  display: flex;
  align-items: center;
  width: 600px;
  gap: 170px;
}

.radio-options div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20px;
}

.permission {
  margin-top: 5%;
  display: flex;
  margin-left: -22%;
  gap: 0;
}

.permission input {
  margin-right: 2px;
}
.permission h3 {
  margin-left: -15%;
  margin-top: 0%;
}

.send-feedback {
  margin-top: 5%;
}

#submit {
  width: 450px;
  height: 40px;
  background-color: rgb(231, 83, 83);
  color: white;
}

/*----FOOOTER-----*/

footer {
  display: flex;
  position: fixed;
  bottom: -100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 83, 83);
  width: 100%;
  height: 90px;
}

footer h5 {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 18px;
  padding-left: 5%;
}

#footer.visible {
  bottom: 0;
}

footer img {
  width: 40px;
  align-items: center;
  justify-content: center;
}

footer .socials {
  display: flex;
  gap: 9rem;
}

.social-links {
  cursor: pointer;
}

.social-links {
  width: 1rem;
}

.nav-footer a {
  margin: 0 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  width: 30%;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.nav-footer a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(255, 253, 253);
  transition: width 0.4s ease;
}

.nav-footer a:hover:after {
  width: 100%;
}
