/*-----CRAFTSVILLA GALLERY-------*/
html {
  scrollbar-gutter: stable;
}

main {
  padding: 100px 20px 20px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  justify-content: center;
  background-color: #f5f1eb;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.craftsvilla {
  width: 90%;
}

h3 {
  font-family: cursive;
}

header {
  display: flex;
  position: fixed;
  font-family: "DM Serif Display", serif;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 245, 245);
  width: 100%;
  height: 90px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h2,
.logo p {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-left: -50%;
}

.logo h2 {
  color: red;
}

.logo img {
  width: 200px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.head-nav a {
  margin: 0 40px;
  font-size: 24px;
  color: black;
  width: 30%;
  position: relative;
  text-decoration: none;
}

.signup img {
  width: 40px;
  filter: brightness(1) invert(1);
}

.head-nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-radius: 8px;
  height: 4px;
  background: rgb(231, 83, 83);
  transition: width 0.4s ease;
}

.head-nav a:hover:after {
  width: 100%;
}

button.signup {
  background-color: rgb(231, 83, 83);
  color: antiquewhite;
  border-radius: 14px;
  margin-left: 2%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 20px;
  cursor: pointer;
}

.button.signup h2 {
  text-align: center;
  justify-content: center;
}

button.signup:hover {
  background-color: rgb(215, 61, 61);
  transition: 1s;
}

/*--------CONTESTANTS---------*/
.showcase {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 40px;
  padding-bottom: 20px;
}

.showcase-span {
  color: red;
}

.cards .favorite img {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  filter: brightness(100%) opacity(50%) contrast(100%);
}

.favorite {
  flex-direction: row;
  display: flex;
  gap: 40px;
  margin-left: 28%;
  padding-top: 6%;
  justify-content: center;
  align-items: center;
}

.favorite div:hover {
  scale: 1.05;
  filter: saturate(10000%) contrast(1000%) brightness(1000%) opacity(1000%);
}

.cards button {
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 16px;
  cursor: pointer;
  margin-top: -8%;
  background-color: rgb(31, 48, 98);
  color: white;
  padding: 10px;
}

.cards button:active {
  background-color: rgb(56, 105, 255);
}

.cards-container {
  margin-left: 2%;
  padding-bottom: 4%;
}

.cards {
  padding: 0px 0px;
  border-radius: 24px;
  border: 2px solid rgb(182, 179, 179);
  padding-bottom: 5px;
}

.cards img {
  scale: 0.9;
}

.cards img:hover {
  scale: 1;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

p {
  color: rgb(78, 77, 77);
}

.cards-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.cards h2,
.cards p {
  margin: 0;
  left: 0%;
  position: relative;
  display: block;
}

.cards img {
  width: 260px;
  height: 360px;
  top: 24%;
  border-radius: 20px;
  position: relative;
}

.cards-text {
  max-width: 100%;
  font-size: 12px;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cards-row {
  margin-left: 2%;
  padding-bottom: 2%;
}

/*----FOOOTER-----*/

footer {
  display: flex;
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 83, 83);
  width: 100%;
  height: 90px;
}

footer img {
  width: 40px;
  align-items: center;
  justify-content: center;
}

footer .socials {
  display: flex;
  gap: 80px;
}

.social-links {
  cursor: pointer;
}

.social-links {
  width: 2px;
}

.nav-footer a {
  margin: 0 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  width: 30%;
  position: relative;
  text-decoration: none;
}

.nav-footer a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(255, 253, 253);
  transition: width 0.4s ease;
}

.nav-footer a:hover:after {
  width: 100%;
}

footer h5 {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 18px;
  padding-left: 5%;
}
