/*-----CRAFTSVILLA-------*/

body {
  margin: 0 auto;
  background-color: #f5f1eb;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
}

.craftsvilla {
  max-width: 1440px;
}

header {
  display: flex;
  position: fixed;
  font-family: "DM Serif Display", serif;
  top: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 245, 245);
  width: 100%;
  height: 90px;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo h2,
.logo p {
  margin: 0;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  margin-left: -50%;
}

.logo h2 {
  color: red;
}

.logo img {
  width: 200px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}

.head-nav a {
  margin: 0 35px;
  font-size: 24px;
  color: rgb(37, 35, 35);
  width: 20%;
  position: relative;
  text-decoration: none;
}

.signup img {
  width: 40px;
  filter: brightness(1) invert(1);
}

.head-nav a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  border-radius: 8px;
  height: 4px;
  background: rgb(255, 51, 51);
  transition: width 0.4s ease;
}

.head-nav a:hover:after {
  width: 100%;
}

button.signup {
  background-color: rgb(231, 83, 83);
  color: antiquewhite;
  border-radius: 14px;
  border: none;
  margin-left: 2%;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 20px;
  cursor: pointer;
}

.button.signup h2 {
  text-align: center;
  justify-content: center;
}

button.signup:hover {
  background-color: rgb(215, 61, 61);
  transition: 1s;
}

/*---------HERO----------*/
section.hero {
  flex-direction: row;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  gap: 0;
}

.hero-text {
  font-size: 36px;
  margin: 0%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 7%;
  width: 100%;
}

.hero-text h2 {
  overflow-wrap: break-word;
  word-break: normal;
  font-size: 48px;
}

.hero-high {
  color: #ff2424da;
  width: 20px;
}

.hero-high-1 {
  color: #5b24ffda;
  width: 20px;
}

.hero-high-2 {
  color: #00f821da;
  width: 20px;
}

.hero-text p {
  font-size: 24px;
  max-width: 300px;
}

section.hero img {
  width: 800px;
  height: auto;
}

/*-----IMAGES UNDERNEATH HERO----*/

.images-hero {
  display: flex;
  margin-top: 4%;
  width: 100%;
  padding-right: 4%;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.images-hero img {
  width: 60px;
  margin: 0;
  filter: invert(27%) sepia(88%) saturate(2314%) hue-rotate(338deg)
    brightness(93%) contrast(92%);
  margin-top: 2%;
}

.groups {
  display: flex;
  align-items: center;
}

.hero-groups {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
}

.images-hero p {
  margin: 0;
  margin-top: 2%;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

/*--------POPULAR CATEGORIES--------*/
.popular-categories {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

.popular-categories img {
  width: 200px;
  border-radius: 12px;
  margin: 0 auto;
}

/*-------AGE GROUPS---------*/
.age-groups {
  display: flex;
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.age-groups img {
  width: 280px;
}

/*-----ABOUT US------*/

h4 {
  font-size: 64px;
  display: flex;
  box-shadow: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 5%;
  margin-right: 5%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.about-us {
  display: flex;
  margin-bottom: 5%;
  width: 90%;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  background-color: #eb2b21;
  color: aliceblue;
}

.about-us h2 {
  max-width: 85%;
}

.about {
  justify-content: center;
  align-items: center;
  display: flex;
}

.about-span {
  color: rgb(228, 50, 50);
}

/*----FOOOTER-----*/

footer {
  display: flex;
  margin-top: 4%;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 83, 83);
  width: 100%;
  height: auto;
}

footer img {
  width: 35px;
  align-items: center;
  justify-content: center;
}

footer .socials {
  display: flex;
  gap: 80px;
}

.social-links {
  cursor: pointer;
}

.social-links {
  width: 2px;
}

.nav-footer a {
  margin: 0 20px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  width: 30%;
  position: relative;
  text-decoration: none;
}

.nav-footer a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: rgb(255, 253, 253);
  transition: width 0.4s ease;
}

.nav-footer a:hover:after {
  width: 100%;
}

footer h5 {
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  font-size: 18px;
  padding-left: 5%;
}

/*--------CONTESTANTS---------*/
.cards-container {
  padding-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 7%;
}

.cards-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cards img {
  width: 320px;
  height: 350px;
  border-radius: 8px;
}

.cards-text {
  max-width: 60%;
}

.includes {
  color: black;

  font-size: 20px;
  text-decoration: underline;
}

.cards {
  width: 520px;
  z-index: 0;
}

.cards img:hover {
  transform: scale(0.98);
  transition: ease 1s;
}
